{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home | user</title>
    <link rel="stylesheet" href="{% static 'css/style_app_classway/app_home.css'%}">


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>

<body>

    {% comment %} {% if 'logged_in_user' in request.session %}
    <p>user:{{request.session.logged_in_user}}</p>
    {% endif %} {% endcomment %}



    <section>
        <nav class="first-nav">
            <i class="fa fa-caret-left" id="a" onclick="toggleArrow()"></i>
            <i class="fa fa-caret-right" id="b" onclick="toggleArrow()"></i>


            <a href="/website/bypass/">
                <label for=" ">classway</label>
            </a>


            <i style="color: #eeeeee;">user: {{request.session.logged_in_user}}</i>

            <a style="font-size: 15px; color: rgb(3, 80, 111);" href="/app_classway/app_join_class" class="btn-account"
                id="btn-join">
                <i class="material-icons">post_add</i> join class
            </a>



        </nav>

        <div class="breadcrumb">
            <ul>
                <li><a href="#">classes</a></li>
                <i class="material-icons">chevron_right</i>

                <li><a href="#">join</a></li>
                <!-- <li><a href="#">classes</a></li> -->
                <!-- <span>></span> -->

            </ul>
        </div>


        <div class="main ">


            <div class="side-nav ">
                <ul>
                    <hr>
                    <button id="btnm" class="btn-classes">classes</button>
                    <hr>
                    <button id="btnm" class="btn-my-classes">my classes</button>
                    <hr>
                    <button id="btnm" class="btn-new-class">new class</button>
                    <hr>
                    <button id="btnm" class="btn-todo">todo</button>
                    <hr>
                    <button id="btnm" class="btn-status">status</button>
                    <hr>
                    <button id="btnm" class="btn-account">account</button>
                    <hr>

                </ul>
            </div>




            <!-- ---------------- -->

            <div class="working-area" id="working-area">

                <div class="nothing">
                    <img src="{% static '/img/monkey.png' %}" alt="">
                    <p>no content!</p>
                </div>


            </div>


        </div>


        <div class="msg-modal-main" style="background-color: #03506f;color:#eeeeee; font-size: 13px;">
            <p style="color: #eeeeee; font-size: 13px;" id="msg"></p>
        </div>
    </section>






    <script>
        $(document).ready(function () {
            $('.fa').click(function () {
                $('.side-nav').toggleClass('x');
                $('.working-area').toggleClass('working-area-x');

            });

            $(document).on("click", "#btnm", function () {
                var clickedAttr = $(this).attr('class'); // or var clickedBtnID = this.class


                $('.btn-classes, .btn-my-classes, .btn-new-class, .btn-todo, .btn-status,.btn-account').css({
                    "background-color": "",
                    "color": ""
                });

                $(this).css({
                    "background-color": "#eeeeee",
                    "color": "#393e46"
                });

                


                switch (clickedAttr) {
                    case 'btn-classes':
                        link = "/app_classway/app_available_class_enrolled/"; break;

                    case 'btn-my-classes':
                        link = "/app_classway/app_available_class/"; break;

                    case 'btn-new-class':
                        link = "/app_classway/app_create_class/"; break;

                    case 'btn-todo':
                        link = "/app_classway/app_todo_page/"; break;

                    case 'btn-status':
                        link = "/app_classway/app_status_page/"; break;

                    case 'btn-account':
                        link = "/app_classway/app_account_page/"; break;

                    default:
                        console.log('error...');
                        alert('coming soon...')
                }


                $.ajax({
                    url: link,
                    success: function (result) {
                        $('.working-area').html(result);
                    }
                });



            });

        });




        let clicked = true;

        function toggleArrow() {

            if (clicked) {
                document.getElementById('a').style.display = 'block';
                document.getElementById('b').style.display = 'none';

            } else {
                document.getElementById('a').style.display = 'none';
                document.getElementById('b').style.display = 'block';
            }
            clicked = !clicked;
        }


        $(document).ready(function () {
            var frm = $('#btn-join');
            frm.click(function () {
                $.ajax({
                    //type: 'POST',
                    url: '/app_classway/app_join_class/',
                    //data: frm.serialize(),
                    success: function (result) {
                        $('.working-area').html(result);

                        $('.btn-classes, .btn-my-classes, .btn-new-class, .btn-todo, .btn-status,.btn-account').css({
                            "background-color": "",
                            "color": ""
                        });


                    }

                });
                return false;



            });


        });



    </script>



</body>

</html>