{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>craft-x-create-class</title>
    <link rel="stylesheet" href="{% static 'css/style_app_classway/app_create_class.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="user_class_createclass">

        <!-- <a href="">
            <i class="fa fa-angle-left"></i>
        </a> -->

        <form id="frm-create-class">
            {% csrf_token %}
            <h3>new class</h3>


            {{create_class_form.class_name}}
            {{create_class_form.class_subject}}



            <button type="submit" name="btn-create" class="btn-create">create</button>

        </form>
    </div>


    <script>
        $(document).ready(function () {
            var frm = $('#frm-create-class');
            frm.submit(function () {
                $.ajax({
                    type: 'POST',
                    url: '/app_classway/app_create_class/',
                    data: frm.serialize(),
                    success: function (result) {
                        $('.working-area').html(result);

                        $('.btn-classes, .btn-my-classes, .btn-new-class, .btn-todo, .btn-status,.btn-account').css({
                            "background-color": "",
                            "color": ""
                        });

                        $('.btn-my-classes').css({
                            "background-color": "#eeeeee",
                            "color": "#393e46"
                        });
                    },
                    error: function (result) {
                        //$("#MESSAGE-DIV").html("Something went wrong!");
                        console.log('error...')
                    }
                });
                return false;



            });


        });

    </script>


</body>

</html>