{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <title>form page</title>
</head>

<body>
    <form action="register" method="post">

        {% csrf_token %}

        <h3>register</h3>
        <input type="text" name="username" id="" placeholder="username">
        <input type="text" name="email" id="" placeholder="email">
        <input type="text" name="password" id="" placeholder="password">
        <input type="text" name="password_conf" id="" placeholder="confirm pasword">


        <input type="text" name="test" id="" placeholder="test">

        <button type="submit">register</button>
        <!-- <input type="submit" name="submit" id="" value="submit"> -->

    </form>

    <form action="login" method="post">

        {% csrf_token %}

        <h3>login</h3>
        <!-- <input type="text" name="username" id="" placeholder="username"> -->
        <input type="text" name="email" id="" placeholder="email">
        <input type="text" name="password" id="" placeholder="password">
        <!-- <input type="text" name="password_conf" id="" placeholder="confirm pasword"> -->


        <label for="">remember me 
            <input type="checkbox" name="remember" id="">
        </label>

        <label for="">not remember me 
            <input type="checkbox" name="not_remember" id="">
        </label>


        <button type="submit">login</button>
        <!-- <input type="submit" name="submit" id="" value="submit"> -->

    </form>

    <div class="result">
        <h3>your input:</h3>
        {{username}}<br>
        {{email}}<br>
        {{password}}<br>
        {{password_conf}}<br>




    </div>

    {% if 'msg1' in request.session %}
        <p>msg:{{request.session.msg1}}</p>
    {% endif %}

    <br>
    {% if 'name' in request.session %}
        <p>name:{{request.session.name}}</p>
    {% endif %}


    <br>
    {% if 'email' in request.session and 'password' in request.session %}
        <p>your data:-</p>
        <p>session email: {{request.session.email}}</p>
        <p>session password: {{request.session.password}}</p>

    {% endif %}

    <hr>

    {% for obj1 in obj %}
        <p>name:{{obj1.user_email}}</p>
    {% endfor %}


</body>

</html>