<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello page</title>
</head>

<body>
    <h1>Hello World</h1>

    <p>name1:{{name1}}</p>
    <p>name2:{{name2}}</p>




    <a href="app_form/form1">form</a> <br> <br>
    <a href="django_forms/employee_view">django_form</a><br> <br>


    <a href="send_email/email">send email</a> <br> <br>

    <a href="fkey/fkey_view">fkey</a> <br> <br>




</body>

</html>